
img.subdomain-logo {
    height: 100px;
}

img.sponsor-logo {
    height: 120px;
}

img.dots-logo {
    height: 128px;
}

img.teacher-avatar {
    max-width: 250px;
    max-height: 250px;
}

hr.hidden-border {
    border-top: 0;
}

.breaking-word {
    word-break: break-all;
}

.no-wrap {
    white-space: nowrap;
}

.align-center {
    text-align: center;
}

.navbar {
    border-radius: 0;
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}

.footer {
    height: 80px;
    margin-top: -80px;
}

div.ace-editor {
    width: 100%;
    height: 500px;
}