img.subdomain-logo {
    height: 100px;
}

img.sponsor-logo {
    height: 120px;
}
img.dots-logo {
    height: 128px;
}

hr.hidden-border {
    border-top: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 20px;
}