/*fixs start*/
@media (min-width: 768px) {
    footer {
         margin-left: 0px;
    }
}

.x_panel {
    overflow: scroll;
}

/*fixs end*/

.wrap-text {
    word-break: break-all;
}
.custom-pager {
    text-align: center;
}